$node: #2B2B8F;
$nodeText: #FFF;
$controller: #ff8080;
$controllerText: #111111;
$customer: #98D963;
$customerText: #111111;
$comp: #E84EE8;
$compText: #111111;
$warningCard: #dc911e;
$leftPanel: #484545;

$paillierPrimary: #469ea1;
$aesPrimary: #298134;
$maskPrimary: #CC3363;
$permutationPrimary: #20063b;

$paillierSecondary: rgba(154, 209, 212, 0.25);
$aesSecondary: rgba(98, 195, 112, 0.5);
$maskSecondary: rgba(204, 51, 99, 0.5);
$permutationSecondary: rgba(32, 6, 59, 0.5);

$checkboxOffPrimary : #fff;
$checkboxOffSecondary: rgba(255, 255, 255, 0.5);

$unsecureColor: rgb(0, 0, 0);
$secureColor: rgb(36, 178, 182);


// font-size
$codeTitle:  20.5px;
$codeSize: 10.5px;
$commSize: 13.5px;
