<div class="popup-header">
  <h2 class="title">History</h2>
  <button id="close-button" (click)="close()">Close</button>
</div>
<div class="popup-content">
  <table>
    <tr class="header">
      <th scope="col">Algorithm</th>
      <th scope="col">Parameters</th>
      <th scope="col">N</th>
      <th scope="col">K</th>
      <th scope="col">Secure Time</th>
      <th scope="col">Rewards</th>
      <th scope="col"></th>
    </tr>
    <tr *ngFor="let history of histories; let i = index" [class.even]="i % 2 == 0" [class.odd]="i % 2 == 1">
      <td>{{getFormattedAlgorithName(history.algorithm)}}</td>
      <td><span *ngFor="let param of history.params">{{param.name}}: {{param.value}}</span></td>
      <td class="right">{{history.budget}}</td>
      <td >{{history.nb_arms}}</td>
      <td class="right">{{getExecutionTime(history)}}s</td>
      <td class="right">{{history.turns[history.turns.length - 1].cumulative_reward}}</td>
      <td class="remove-cell"><button class="remove" (click)="deleteHistory(history)">Remove</button></td>
    </tr>
  </table>
</div>

